<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Adress</title>
</head>
<body>
<div th:insert="fragments/header :: headerMain"></div>
<h1>Список Адрессов</h1>
<div class="column">
    <div th:each="el: ${listAdress}">
        <p th:text="${el.location}"> </p>
        <a th:href="'/Adress/AdressDetail/'+${el.id}" class="btn btn-warning">Подробней</a>

    </div>
    <a th:href="'/Adress/AdressEmployee/'" class="btn btn-primary">Назначить работника</a><br>
</div>
<a href="/Adress/IndexAddAdress" class="btn btn-warning">Добавить Адресс</a><br>
<a href="/Home" class="btn btn-warning">Home</a>
</body>
</html>