<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>НАШ САЙТ</title>
</head>
<body>
<!--<h1>You are pretty good...</h1>-->
<!--<a href="/Home/?var=kobeni">to home no parameters</a> <br>-->
<!--<a href="/Home/">to home with parameters</a><br>-->
<!--<a href="Home/">Относительный путь</a><br>-->


<!--<form action="/Home/" method="post">-->

<!--    <input type="text" name="var" placeholder="var"><br>-->
<!--    <input type="text" name="digit" placeholder="digit variable"><br>-->
<!--    <input type="text" name="temp" placeholder="length"><br>-->
<!--    <input type="submit" value="Send data"> <br>-->
<!--</form>-->

<h1>Результат:</h1> <br>
<p th:text="  ${result} + ' ' "/>
</body>
</html>