<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Dolj</title>
</head>
<body>
<h1>Add dolj</h1>
<div>
    <form method="post">
        <input type="text" placeholder="Наименование " name="name"><br>
        <input type="number" placeholder="Налог " name="tax"><br>
        <input type="text" placeholder="Описание должности " name="description"><br>
        <input type="number" placeholder="Оклад" name="salary"><br>
        <input type="number" placeholder="Максимально возможная премия" name="max_bonus"><br>
        <input type="submit" value="Добавить должность">
    </form>
    <a href="/Dolj/Index">Back</a>
    <a href="/Home">Home</a>
</div>

</body>

</html>