<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerPolice"></div>

<form method="post" th:object="${caseParticipator}">
    <input th:field="*{surname}"  type="text" placeholder="Фамилия " name="surname"><br>
    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color:red"></div><br>

    <input th:field="*{name}"  type="text" placeholder="Имя " name="name"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div><br>

    <input th:field="*{patronymic}"  type="text" placeholder="Отчество " name="patronymic"><br>
    <div th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}" style="color:red"></div><br>

    <br>

    <select name="caseParticipantCategories">
        <div th:each="element : ${caseParticipantCategories}">
            <option th:value="${element.id}" th:text="${element.category}"></option>
        </div>
    </select>
    <br>
    <input  type="submit" value="Изменить Категорию" class="btn btn-primary">
    <a th:href="'/Policeman/CaseParticipator/CaseParticipatorView' "class="btn btn-warning"> Назад</a>
</form>
</body>
</html>