<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Показания</title>
</head>
<body>
<div th:insert="Header/header :: headerDetective"></div>
<div class="row">

    <h1>Список показаний</h1>
    <div th:each="el: ${testimonies}">
        <p th:text="${el.date_of_testimony}"> </p>
        <a>Давший показание:</a>
        <p th:text="${el.caseParticipator.surname}+${el.caseParticipator.name}"> </p>
        <a th:href="'/Detective/Testimony/TestimonyDetail/'+${el.id}" class="btn btn-primary">Подробней</a>
    </div>
    <form action="/Detective/Testimony/TestimonyFilter" method="get">
        <input type="text" name="search_name" placeholder="Поиск">
        <input type="submit" placeholder="Найти" class="btn btn-success">
    </form>
    <form action="/Detective/Testimony/TestimonyFilterNoCategory" method="get">
        <input type="text" name="search_name" placeholder="Поиск (полное совпадение)">
        <input type="submit" placeholder="Найти" class="btn btn-success">
    </form>
</div>
<a href="/Detective/Testimony/TestimonyAdd" class="btn btn-light">Добавить показание</a><br>
</body>

</html>