<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Показание</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerDetective"></div>

<form method="post" th:object="${testimony}">
    <input th:field="*{testimony_desc}"  type="text" placeholder="Показание" name="testimony_desc"><br>
    <div th:if="${#fields.hasErrors('testimony_desc')}" th:errors="*{testimony_desc}" style="color:red"></div><br>
    <input th:field="*{date_of_testimony}"  type="text" placeholder="Дата дачи показаний " name="date_of_testimony"><br>
    <div th:if="${#fields.hasErrors('date_of_testimony')}" th:errors="*{date_of_testimony}" style="color:red"></div><br>

    <br>
    <select name="listParticipator">
        <div th:each="element : ${caseParticipators}">
            <option th:value="${element.id}" th:text="${element.surname}"></option>
        </div>
    </select>
    <br>
    <input  type="submit" value="Изменить Показание" class="btn btn-primary">
    <a th:href="'/Detective/Testimony/TestimonyView'" class="btn btn-warning"> Назад</a>
</form>
</body>
</html>