<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Показание</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerDetective"></div>
<div>
    <div th:each="el: ${testimony}" >
        <h1>Показание: </h1>
        <p th:text="${el.testimony_desc}"> </p>
        <h1>Дата дачи показания: </h1>
        <p th:text="${el.date_of_testimony}"> </p>
        <h1>Давший показание: </h1>
        <p th:if="${el.caseParticipator}" th:text="${el.caseParticipator.surname}+${el.caseParticipator.name}"> </p>
        <a th:href="'/Detective/Testimony/TestimonyEdit/' +${el.id}" class="btn btn-primary">Изменить</a><br>
        <a th:href="'/Detective/Testimony/TestimonyDelete/' +${el.id}" class="btn btn-secondary">Удалить</a>
    </div>
    <a th:href="'/Detective/Testimony/TestimonyView'" class="btn btn-warning"> Назад</a>
</div>
</body>
</html>