<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>More about your animals</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/header :: headerMain"></div>
<div>
  <div th:each="el: ${emp}">
    <p th:text="${el.name}"> </p>
    <p th:text="${el.surname}"> </p>
    <p th:text="${el.patronymic}"> </p>
    <p th:text="${el.getAge()}"> </p>
    <p th:text="${el.amount_of_kids}"> </p>
    <p th:text="${el.nationality}"> </p>
    <a th:href="'/Employee/EmployeeEdit/' +${el.id}" class="btn btn-warning">Изменить</a><br>
    <a th:href="'/Employee/EmployeeDelete/' +${el.id}" class="btn btn-warning">Удалить</a>
  </div>
  <a th:href="'/Employee/Index'"> Назад</a>
</div>
</body>
</html>