<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <title>Zoo</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/header" :: headerMain></div>
<h1>Edit animals</h1>

<form method="post">
  <input type="text" placeholder="Имя " th:value="${emp.name}" name="name"><br>
  <input type="text" placeholder="Фамилия " th:value="${emp.surname}" name="surname"><br>
  <input type="text" placeholder="Отчество " th:value="${emp.patronymic}" name="patronymic"><br>
  <input type="number" placeholder="Возраст" th:value="${emp.age}" name="age"><br>
  <input type="number" placeholder="Количество детей" th:value="${emp.amount_of_kids}" name="amount_of_kids"><br>
  <input type="text" placeholder="Национальность" th:value="${emp.nationality}" name="nationality"><br>
  <input type="submit" value="Изменить Работника" class="btn btn-primary">
</form>
<a th:href="'/Employee/EmployeeDetail/' +${emp.id}" class="btn btn-secondary">Back</a>


</body>

</html>