<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адресса работников</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerHR"></div>
<form  method="post">
    <select name="listEmp">
        <div th:each="element : ${listEmp}" >

            <option th:value="${element.name}" th:text="${element.surname}+${element.name}"></option>

        </div>

    </select>
    <select name="listAdress">
        <div th:each="element : ${listAdress}" >

            <option th:value="${element.location}" th:text="${element.location}"></option>

        </div>

    </select>
    <input type="submit" value="Назначить адресс">
    <a th:href="'/HR/AdressView'" class="btn btn-warning"> Назад</a>
</form>
</body>
</html>