<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адресса</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerHR"></div>
<div>
        <div th:each="el: ${adress}" >
            <p th:text="${el.location}"> </p>
            <p th:text="${el.date_of_arrival}"> </p>
            Проживающие сотрудники:
            <div th:each="elp: ${el.employees}" >
                <p th:text="${elp.surname}"> </p>
                <p th:text="${elp.name}"> </p>
            </div>

        <br>
        <a th:href="'/HR/AdressEdit/' +${el.id}" class="btn btn-primary">Изменить</a><br>
        <a th:href="'/HR/AdressDelete/' +${el.id}" class="btn btn-secondary">Удалить</a>
        <a th:href="'/HR/AdressView'" class="btn btn-warning"> Назад</a>
        </div>
</div>
</body>
</html>