<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More about your animals</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerHR"></div>
<div>
    <div th:each="el: ${doljs}" >
        <a>Наименование: </a>
        <p th:text="${el.name}"> </p>
        <a>Оклад: </a>
        <p th:text="${el.salary}"> </p>

        <a th:href="'/HR/DoljEdit/' +${el.id}" class="btn btn-primary">Изменить</a><br>
        <a th:href="'/HR/DoljDelete/' +${el.id}" class="btn btn-secondary">Удалить</a>
    </div>
    <a th:href="'/HR/DoljView'" class="btn btn-warning"> Назад</a>
</div>
</body>
</html>