<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Zoo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div th:insert="Header/header :: headerHR"></div>
<h1>Изменить должность</h1>

<form method="post" th:object="${dolj}">
    <input th:field="*{name}"  type="text" placeholder="Наименование должности " th:value="${dolj.name}" name="name"><br>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div><br>
    <input th:field="*{salary}"  type="text" placeholder="Оклад " th:value="${dolj.salary}" name="salary"><br>
    <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color:red"></div><br>

    <input  type="submit" value="Изменить Должность" class="btn btn-primary">

</form>
<a th:href="'/HR/DoljDetail/' +${dolj.id}" class="btn btn-secondary">Назад</a>


</body>

</html>